body {
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: auto;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.wrapper .player-box {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper .player-active {
  background-color: rgba(255, 255, 255, 0.4);
}

.wrapper .player-box .score-wrap {
  text-align: center;
}

.wrapper .player-box .name {
  font-size: 32px;
}

.wrapper .player-box .score {
  margin-top: 15px;
  font-size: 80px;
}

.wrapper .player-box .current-box {
  margin-top: 40px;
  padding: 20px 40px;
  text-align: center;
  border-radius: 12px;
  font-size: 24px;
  background: #c7365f;
}

.wrapper .player-box .current-box .current-score {
  font-size: 32px;
  margin-top: 10px;
}

.wrapper .new {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
}

.wrapper .turn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  font-size: 18px;
  color: white;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.wrapper .roll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.wrapper .hold {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
}

.wrapper .dice {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    'a . c'
    'e g f'
    'd . b';
  padding: 10px;
}

.wrapper .dice .dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
}

.wrapper .dice .dots:nth-child(2) {
  grid-area: b;
}
.wrapper .dice .dots:nth-child(3) {
  grid-area: c;
}
.wrapper .dice .dots:nth-child(4) {
  grid-area: d;
}
.wrapper .dice .dots:nth-child(5) {
  grid-area: e;
}
.wrapper .dice .dots:nth-child(6) {
  grid-area: f;
}
.wrapper .dice .dots:nth-child(odd):last-child {
  grid-area: g;
}

.wrapper .new button,
.roll button,
.hold button {
  background: white;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  min-width: 100px;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  cursor: not-allowed;
}

.wrapper .hidden {
  display: none;
}
